<div class="items-center justify-center flex flex-col w-full">
    <h1>{{ 'home.title' | translate }}</h1>
    <p>{{ 'home.subtitle' | translate }}</p>
    <app-upload-file-area
    id="file"
    acceptType=".pdf,.doc,.docx,.PDF,.DOC,.DOCX"
    [dropZoneTitleKey]="
      'lease_import.create.file.drop_zone_title'
    "
    [dropZoneMessageKey]="
      'lease_import.create.file.drop_zone_message'
    "
    [errorMessageKey]="
      'lease_import.create.file.format_error'
    "
    [errorTitleKey]="
      'lease_import.create.file.format_error_title'
    "
    (requestUploadFile)="onFileSelected($event)"
    [selectedFiles]="selectedFiles"
    class="w-5/6 h-80 max-h-80 m-10"
  ></app-upload-file-area>
</div>
  