<div class="flex flex-col items-center justify-center">
    <nav aria-label="breadcrumb" class="flex items-center gap-8">
      <div *ngFor="let step of steps; let i = index" class="flex flex-col items-center">
        <div
          [ngClass]="{
            'bg-gray-300': i + 1 > progress,
            'bg-primary-dttl-blue-light border-primary-dttl-blue-light': i + 1 <= progress
          }"
          class="w-8 h-8 rounded-full border-2 flex items-center justify-center text-white"
        >
          {{ i + 1 }}
        </div>
        <div
          [ngClass]="{
            'text-gray-500': i + 1 > progress,
            'text-primary-dttl-blue-light font-semibold': i + 1 <= progress
          }"
          class="text-lg"
        >
          {{ step.title }}
        </div>
        <div
          [ngClass]="{
            'text-gray-500': i + 1 > progress,
            'text-primary-dttl-blue-light font-semibold': i + 1 <= progress
          }"
          class="text-sm"
        >
          {{ step.subtitle }}
        </div>
      </div>
    </nav>
  </div>
  