<div>
    <div class="items-center justify-center flex flex-col w-full">
        <app-breadcrumb [progress]="2" class="mb-10"></app-breadcrumb>
        <h1>{{'template.title'|translate}}</h1>
        <p>{{'template.subtitle'|translate}}</p>
        <div *ngIf="templates && templates.length > 0" class="flex flex-col w-full">
            <div class="flex flex-col w-full gap-4">
                <div *ngFor="let template of templates">
                    <app-template-item [template]="template" [leaseAnalysis]="leaseAnalysis" ></app-template-item>
                </div>
            </div>
        </div>
    </div>
</div>